<h1>Genres</h1>

<% @genres.each do |genre| %>
  <section class="genres">
    <h3>
      <%= link_to genre.name, genre_path(genre) %>
    </h3>
  </section>
<% end %>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Genre", new_genre_path, class: "button" %>
  </section>
<% end %>