<section class="genre-details">
  <div class="details">
    <h1><%= @genre.name %></h1>
    <h2>
      <% if @movies.present? %>
        <h4>Movies</h4>
        <ul>
          <% @movies.each do |movie| %>
            <li>
              <%= link_to movie.title, movie %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </h2>
  </div>
</section>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_genre_path(@genre), class: "button" %>
    <%= link_to "Delete", @genres, class: "button",
      method: :delete, data: { confirm: "Are you sure?" } %>
  </section>
<% end %>